.Header {
    background-color: #fdfdfd;
    
    .blue-text {
        color: #2c53cc;
    }

    // Header 
    .intro-header {
        padding-top: 80px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-style: normal;
        letter-spacing: .1px;
        
    }
    
        @media (min-width: 768px) {
            .intro-header {
                font-size: 1.5rem;
            }
        }
    
    .future-of-eBIKe {
        font-size: 2.8rem;
        font-weight: bold;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-style: normal;
    }
    @media (min-width: 768px) {
        .future-of-eBIKe {
            font-size: 3.5rem;
        }
    }


    .side-header {
        .text-column {
        font-weight: 700;
        font-size: 1.7rem;
     }
    }
}