.Header {
    background-color: #fdfdfd;
    
    .blue-text {
        color: #2c53cc;
    }

    // Header 
    .intro-header {
        padding-top: 80px;
        font-size: 1.6rem;
        letter-spacing: .1px;
        font-weight: 700;
    }

    .future-of-eBIKe {
        font-size: 3rem;
        font-weight: 700;
    }


    .side-header {
        .text-column {
        font-weight: 700;
        font-size: 1.7rem;
     }
    }
}